@-webkit-viewport { width: device-width; zoom: 1.0; }
@-moz-viewport { width: device-width; zoom: 1.0; }
@-ms-viewport { width: device-width; zoom: 1.0; }
@-o-viewport { width: device-width; zoom: 1.0; }
@viewport { width: device-width; zoom: 1.0; }

html { overflow-y: auto; }

img, audio, video, canvas {
	max-width: 100%;
	height: auto;
}

/*  Sets body width */
.container {
	max-width: 40em;
	width: 88%;
	margin-left: auto;
	margin-right: auto;
}